{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div id="login_layout">
  

<form id="login_form" class="login" method="POST" action="{% url 'account_login' %}">
  

  <div>
    <h2 class="topic">Login</h2>
      <p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <label for="id_login">E-mail:</label><br>
  {{form.login}}<br>
  <label for="id_password">Password:</label><br>
    {{form.password}}<br>
  <div id="remember_div">
  <label for="id_remember">Remember Me:</label><br>
  {{form.remember}}<br>   
  </div>
  <div>
    {{form.errors}}
  </div>


  <div>
    <button id="submit_button" class="submit_buttons" class="primaryAction" type="submit">{% trans "Login >>" %}</button> 
    <a  class="submit_buttons"  id="" href="">Cancel</a>
</form>
</div>

{% endblock %}
