{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}




  <form id="logout_form" method="post" action="{% url 'account_logout' %}">
  <div id="logout_div">
  <h1>{% trans "Sign Out" %}</h1>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div id="logout_button_div">
    <button id="submit_button" class="submit_buttons" type="submit">{% trans 'Sign Out >>' %}</button>
    <a  class="submit_buttons"  id="" href="{% url 'index' %}">Cancel</a>
  </div>
  
  </div>
</form>




{% endblock %}
