{% extends "app/base.html" %}

{% block content %}
<div id="content_div">
	<div>
		<h2>
			Submit Issue:
		</h2>
		<form id="form_div" method="POST">
			{% csrf_token %}
			<!-- {{form.as_p}} -->
 			<label for="id_issue">Issue</label><br>
			{{form.issue}}<br>
			<label for="id_address">Address</label><br>
			{{form.customer_name}}
			{{form.address}}<br>
			<label for="id_state">State</label><br>
			{{form.state}}<br>
			<label for="id_district">district</label><br>
			{{form.district}}<br>
			<label for="id_pincode">pincode</label><br>
			{{form.pincode}}<br>
			<div><input id="submit_button" class="submit_buttons" type="submit"> </div>
			
		</form>
	</div>
</div>

<script type="text/javascript">
	var issue = document.getElementById("id_issue");
	issue.placeholder = "Type your issues here !";
	var address = document.getElementById('id_address');
	address.value = "{{user_address}}";
	var state = document.getElementById('id_state');
	state.value = "{{user_state}}";
	var pincode = document.getElementById('id_pincode');
	pincode.value = "{{user_pincode}}";
	var district = document.getElementById('id_district');
	district.value = "{{user_district}}";
	var customer_name = document.getElementById('id_customer_name');
	customer_name.style.display = "none";
	
	console.log()

</script>

{% endblock %}